<div class="container">
    
    <form [formGroup]="todoForm" (ngSubmit)="createTask()" class="form-control">
        <h1>Schedule Task</h1>
        <div>
            <label>Task Name:</label>
            <input id="taskName" formControlName="taskName" placeholder="Enter Task Name"/>
            <div *ngIf="todoForm.get('taskName')?.touched">
                <small *ngIf="todoForm.get('taskName')?.errors?.['required']">Task Name is required</small>
            </div>
        </div>

        <div>
            <label>Task Priority:</label>
            <select id="priority" formControlName="priority" class="select-box">
                <option value="" disabled selected>Select Task Priorities</option>
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
            </select>
            <div *ngIf="todoForm.get('priority')?.touched">
                <small *ngIf="todoForm.get('priority')?.errors?.['required']">*Select atleast one priority</small>
            </div>
        </div>

        <div>
            <label>Task Category:</label>
            <select id="category" formControlName="category" class="select-box">
                <option value="" disabled selected>Select Task Category</option>
                <option value="Personal">Personal</option>
                <option value="Work-Related">Work-Related</option>
                <option value="Household">Household</option>
                <option value="Education">Education</option>
                <option value="Shopping">Shopping</option>
                <option value="Travel">Travel</option>
                <option value="Miscellaneous">Miscellaneous</option>
                <option value="Health & Wellness">Health & Wellness</option>
                <option value="Financial">Financial</option>
            </select>
            <div *ngIf="todoForm.get('category')?.touched">
                <small *ngIf="todoForm.get('category')?.errors?.['required']">*Select atleast one category</small>
            </div>
        </div>

        <div>
            <label>Due Date:</label>
            <input id="date" type="date" formControlName="date"/>
            <div *ngIf="todoForm.get('date')?.touched">
                <small *ngIf="todoForm.get('date')?.errors?.['required']">*Due Date is required</small>
            </div>
        </div>
        <div>
            <label>Task Description:</label>
            <textarea id="description" formControlName="description" placeholder="Enter Description"></textarea>
            <div *ngIf="todoForm.get('description')?.touched">
                <small *ngIf="todoForm.get('description')?.errors?.['required']">*Task Description is required</small>
            </div>
        </div>

        <div>
            <button type="submit" class="btn-primary">Create Task</button>
        </div>

        <div>
            <input *ngIf="showMessage" type="text" class="success" placeholder="Task Scheduled Successfully"/>
        </div>
    </form>
</div>

<div class="container">
    
    <div>
        <h1>Scheduled Tasks</h1>

        <table class="content-table">
            <thead>
                <tr>
                    <th>Task Name</th>
                    <th>Task Priority</th>
                    <th>Task Status</th>
                    <th>Due Date</th>
                    <th>View Details</th>
                </tr>
            </thead>
            <tbody *ngFor="let task of usertasks">
                <tr>
                    <td>{{task.taskName}}</td>
                    <td [ngClass]="{'high-priority':task.priority === 'High', 'medium-priority':task.priority === 'Medium', 'low-priority':task.priority === 'Low'}">{{task.priority}}</td>
                    <td>{{task.status}}</td>
                    <td *ngIf="overdueMessage">{{task.date}}</td>
                    <td><a class="btn btn-primary" (click)="redirectToTaskDetail(task)">Read More</a></td>
                </tr>   
            </tbody>
        </table>
    </div>
</div>
