<div>
    <button (click)="returnTasksPage()" class="btn">Back</button>
</div>
<div>
    <button (click)="logout()" class="btn">logout</button>
</div>

<div class="container">
    <div>
        <h1>Task Details</h1>
        <div *ngIf="task">
            <p><strong>Task Name:</strong>{{task.taskName}}</p>
            <p><strong>Task Priority:</strong>{{task.priority}}</p>
            <p><strong>Task Category:</strong>{{task.category}}</p>
            <p><strong>Task Creation Date:</strong>{{task.creationdate | date}}</p>
            <p><strong>Task Due Date:</strong>{{task.date}}</p>
            <p><strong>Status:</strong>{{task.status}}</p>
            <p class="description"><strong>Description:</strong>{{task.description}}</p>
        </div>
    </div>
</div>

<div class="container">
    <div>
        <h1>Update Task</h1>
        <div>
            <select class="select-box" [(ngModel)]="status">
                <option value="" disabled selected>Update Status</option>
                <option value="To-Do">To-Do</option>
                <option value="In-Progress">In-Progress</option>
                <option value="Completed">Completed</option>
                <option value="Cancelled">Cancelled</option>
                <option value="Postposed">Postposed</option>
            </select>
        </div>
        <button (click)="updateTask()" class="btn-primary">Update Task</button>
        <div>
            <input *ngIf="updateMessage" class="success" placeholder="Task Updated Successfully"/>
        </div>
        <button (click)="removeTask()" class="btn-primary">Remove Task</button>
        <div>
            <input *ngIf="removeMessage" class="success" placeholder="Task Removed Successfully" />
        </div>
    </div>
</div>

<div class="container">
    <div>
        <h1>Reschedule Task</h1>
        <div>
            <label>Change Date</label>
            <input type="date" [(ngModel)]="date" />
        </div>
        <div>
            <button (click)="rescheduleTask()" class="btn-primary">Reschedule</button>
        </div>
        <div>
            <input *ngIf="scheduleMessage" class="success" placeholder="Task Reschedule Successfully"/>
        </div>
    </div>
</div>