p{
    font-family: "Baloo Paaji", cursive;
    font-size: 1em;
}

h1{
    text-align: center;
    font-size:  2.2rem;
    font-family: "Baloo Paaji", cursive;
}

input{
    width: 300px;
    height: 5px;
    padding: 18px;
    font-size: 16px;
    border: 1.5px solid #BA55D3;
    margin: 5px 0 10px;
}

label{
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-family: "Baloo Paaji", cursive ;
}

button{
    width: 340px;
    padding: 12px 15px;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    margin-top: 5px;
    display: block;
    cursor: pointer;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    width: 150px;
    color: #fff;
    background-color: #BA55D3;
    border: none;
    font-weight: bold;
    margin: 10px 20px;
}

.btn:hover{
    background-color: #DA70D6;
}

.btn-primary{
    color: #fff;
    background-color: #BA55D3;
    border: none;
    font-weight: bold;
}

.btn-primary:hover{
    background-color: #DA70D6;
}

.select-box{
    width: 338px;
    height: 40px;
    border: 1px solid #dedede;
    margin: 5px 0 10px;
}

.description{
    width: 340px;
    margin: 2px;
}