<div class="container">
    <div>
        <h1>Task Details</h1>
        <div>
            <p><strong>Task Name:</strong>Complete Biology Essay</p>
            <p><strong>Task Priority:</strong>High</p>
            <p><strong>Task Category:</strong>Education</p>
            <p><strong>Task Creation Date:</strong>15-Oct-2024 2:30PM</p>
            <p><strong>Task Due Date:</strong>21-Oct-2024 11:59PM</p>
            <p><strong>Stutus:</strong>In-Progress</p>
            <p class="description"><strong>Description:</strong>Write a 5-page essay on the importance of cellular respiration
            in living organisms,citing at least 3 scientific sources</p>
        </div>
    </div>
</div>

<div class="container">
    <div>
        <h1>Update Task</h1>
        <div>
            <select class="select-box">
                <option value="" disabled selected>Update Status</option>
                <option value="To-Do">To-Do</option>
                <option value="In-Progress">In-Progress</option>
                <option value="Completed">Completed</option>
                <option value="Cancelled">Cancelled</option>
                <option value="Postposed">Postposed</option>
            </select>
        </div>
        <button class="btn-primary">Update Task</button>
        <button class="btn-primary">Remove Task</button>
    </div>
</div>

<div class="container">
    <div>
        <h1>Reschedule Task</h1>
        <div>
            <label>Change Date</label>
            <input type="date" />
        </div>
        <div>
            <button class="btn-primary">Reschedule</button>
        </div>
    </div>
</div>